defaults:
  link:
    from: "nobe4/ln-source:"

links:
  - from: script/tag-release
  - from: .github/workflows/ln.yaml
  - from: .github/dependabot.yaml
  - from:
      - go/.ln-config.yaml
      - go/script/lint
      - go/script/test
      - go/script/build
      - go/.golangci.yaml
      - go/.goreleaser.yaml
    to: "{{ pathTrimN .Link.From.Path 1 }}"
